include nglview/datafiles/*
include nglview/js/*
include LICENSE README.md DEVELOPMENT.md CHANGELOG.md
include setup.py
include nglview/_version.py versioneer.py
global-exclude *.pycinclude *.ipynb *.gif *tests/notebooks/*
