include nglview/datafiles/*
recursive-include nglview/static *.*
recursive-include nglview/staticlab *.*
include nglview/theme/*
include LICENSE README.md DEVELOPMENT.md CHANGELOG.md
include setup.py
global-exclude *.pycinclude *.ipynb *.gif *tests/notebooks/*
