traitlets==4.3.2
ipywidgets==7

mock
coverage
coveralls
nose # for mdtraj's get_fn
pytest

pandas==0.24
ase
parmed
pytraj
biopython
pymatgen
simpletraj

# movie making
matplotlib==2.0.2
moviepy==0.2.2.11
imageio==1.6
pillow==10.3.0
