traitlets==4.3.2
ipywidgets==7

mock
coverage
nose # for mdtraj's get_fn
pytest
pytest-cov
coveralls

pandas==0.24
ase
parmed
pytraj
biopython
pymatgen
simpletraj

# movie making
matplotlib==2.0.2
moviepy==0.2.2.11
imageio==1.6
pillow==6.2.0
