# .coveragerc to control coverage.py
[run]
branch = True
source =  nglview

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    from urllib2 import urlopen 
    except ImportError
    except Exception as e: 

    schrodinger

omit = 
    
    *_version.py
